@page "/AboutMe"
@model Chirp.Web.Pages.AboutMe
@using Chirp.Infrastructure.Entities
@inject UserManager<Author> UserManager

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h1>About Me</h1>
</div>
