@page "/{author}"
@using Chirp.Infrastructure.Entities
@model Chirp.Web.Pages.UserTimelineModel
@inject UserManager<Author> UserManager
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>
    <partial name="~/Pages/Shared/_CheepBoxPartial.cshtml" model="Model" />
    
    
    @if (Model.Cheeps!.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps!)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        <!-- 
                        If the user's following list contains this Author's name, show Unfollow link
                        Else show follow link.
                        -->
                        @if (User.Identity!.IsAuthenticated)
                        {
                            var currentUser = await UserManager.GetUserAsync(User);
                            if(currentUser!.Following.Contains(cheep.Author))
                            {
                                <a href="/Follow?target=@cheep.Author&undo=true&returnUrl=@($"{HttpContext.Request.Path}{HttpContext.Request.QueryString}")">Unfollow</a>
                            }
                            else if (currentUser.Name == cheep.Author) {}
                            else
                            {
                                <a href="/Follow?target=@cheep.Author&undo=false&returnUrl=@($"{HttpContext.Request.Path}{HttpContext.Request.QueryString}")"> Follow </a>
                            }
                        }
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
